@{
    ViewBag.Title = "Forgot Password Confirmation";
}

    <div class="row">
        <div class="offset-md-4 col-md-4 mb-4 ">

            <div class="ui info message">

                <div class="header">
                    @ViewBag.Title.
                </div>
                Please check your email to reset your password.
            </div>

        </div>
     </div>


