

<div class="row">

    <div class="offset-md-3 col-md-6 mt-4 mb-4">

        <div class="ui warning message">
           
            <div class="header">
                Thank you for registrating.
            </div>
            <p>Please check your email for registration confirmation then click on the link provided.</p>
            <p>Thank you and have a great day.</p>
        </div>



    </div>
</div>

